{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GWaste Web App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/css/materialize.min.css">
        <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'camera' %}">Camera</a></li>
                <li><a href="{% url 'favorites' %}">Favorites</a></li>
            </ul>
        </nav>
        <div class="main">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>