{% extends "base.html" %}

{% block body %}
<video id="camera" class="center-in-screen"></video>
<a href="#" class="btn center-in-screen" id="capture-btn" disabled>Capture</a>
<canvas id="canvas" class="hide"></canvas>
<div id="predict-loading-wrapper" class="hide">
    <div class="preloader-wrapper big active center-in-screen">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left"><div class="circle"></div></div>
            <div class="gap-patch"><div class="circle"></div></div>
            <div class="circle-clipper right"><div class="circle"></div></div>
        </div>
    </div>
</div>
<div class="modal" id="camera-permission-modal">
    <div class="modal-content">
        <h3>Permission Required</h3>
        <p>GWaste app needs camera permission to be able to classify your waste.</p>
        <hr>
        <p>Alternatively, if you already taken photo and want to upload a file instead, press the button below</p>
        <div class="file-field input-field">
            <div class="btn"><span>Choose file</span><input type="file" name="inputImage" class="input-image"></div>
            <div class="file-path-wrapper">
                <input type="text" class="file-path validate">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="no-camera-modal">
    <div class="modal-content">
        <h3>No Camera</h3>
        <p>Currently you blocked access to camera, or your browser is not supported.</p>
        <hr>
        <p>Alternatively, if you already taken photo and want to upload a file instead, press the button below</p>
        <div class="file-field input-field">
            <div class="btn"><span>Choose file</span><input type="file" name="inputImage" class="input-image"></div>
            <div class="file-path-wrapper">
                <input type="text" class="file-path validate">
            </div>
        </div>
    </div>
</div>
<div id="predict-results-box" class="card center-in-screen hide">
    <ul class="collection with-header">
        <li class="collection-header"><h5>Prediction results</h5></li>
        <a href="#" class="collection-item" target="_blank"></a>
        <a href="#" class="collection-item" target="_blank"></a>
    </ul>
</div>
<script>
let cameraPermissionDone = false;
let cameraPermissionModal = M.Modal.init(document.querySelector("#camera-permission-modal"), {
    'dismissible': false,
    'endingTop': '20%'
});
let noCameraModal = M.Modal.init(document.querySelector("#no-camera-modal"), {
    'dismissible': false
});
let cameraStream = null;
let cameraEl = document.querySelector("#camera");
let canvasEl = document.querySelector("#canvas");
let captureBtnEl = document.querySelector("#capture-btn");
let predictLoadingWrapper = document.querySelector("#predict-loading-wrapper");
let predictResultsBox = document.querySelector("#predict-results-box");
if ('mediaDevices' in navigator && 'getUserMedia' in navigator.mediaDevices) {
    navigator.mediaDevices.getUserMedia({
        video: {
            facingMode: {
                exact: 'environment'
            }
        }
    }).catch((error) => {
        if (error instanceof OverconstrainedError) {
            // fallback
            console.log("oops, OverconstrainedError");
            console.debug(error);
            return navigator.mediaDevices.getUserMedia({video: true});
        }
        throw error;
    })
    .then(stream => {
        postCameraPermission();
        captureBtnEl.removeAttribute("disabled");
        cameraEl.srcObject = stream;
        cameraEl.play();
        cameraStream = stream;
    }).catch(showNoCamera);
} else {
    showNoCamera("not supported");
}
function postCameraPermission() {
    cameraPermissionDone = true;
    cameraPermissionModal.close();
}
function showNoCamera(reason) {
    postCameraPermission();
    noCameraModal.open();
    console.error(reason);
}
setTimeout(() => {
    if (cameraPermissionDone)
        return;
    cameraPermissionModal.open();
}, 1000);
function doPredict(imgBase64) {
    data = JSON.stringify({
        imgBase64: imgBase64
    });
    fetch("{% url 'predict' %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': Cookies.get('csrftoken')
        },
        body: data
    }).then(res => res.json())
    .then((results) => {
        predictLoadingWrapper.classList.add("hide");
        let resultItems = predictResultsBox.querySelectorAll(".collection-item");
        results.forEach((item, index) => {
            let resultHtml = item.name[0].toUpperCase() + item.name.slice(1);
            resultHtml += '<span class="right">' + (item.confident * 100).toFixed(2) + '%</span>';
            resultItems[index].innerHTML = resultHtml;
            resultItems[index].href = "{% url 'category_noparam' %}/" + item.name;
        });
        predictResultsBox.classList.remove("hide");
    });
}
captureBtnEl.onclick = () => {
    captureBtnEl.setAttribute("disabled", true);
    predictLoadingWrapper.classList.remove("hide");
    let canvasContext = canvas.getContext('2d');
    cameraEl.pause();
    canvasEl.width = cameraEl.videoWidth;
    canvasEl.height = cameraEl.videoHeight;
    canvasContext.drawImage(cameraEl, 0, 0, canvasEl.width, canvasEl.height);
    cameraStream.getTracks().forEach(track => track.stop());
    doPredict(canvasEl.toDataURL("image/jpeg"));
    return false;
}
function handleFileInput(event) {
    predictLoadingWrapper.classList.remove("hide");
    noCameraModal.close();
    cameraPermissionModal.close();
    let reader = new FileReader();
    reader.readAsDataURL(event.target.files[0]);
    reader.onload = () => {
        doPredict(reader.result);
    };
}
document.querySelectorAll(".input-image").forEach((item, index) => {
    item.onchange = handleFileInput;
});
</script>
{% endblock %}