.main {
    margin-bottom: 64px;
}
nav {
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.center-in-screen {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#camera {
    bottom: 64px;
    max-width: 100%;
    max-height: calc(100% - 64px);
}
#capture-btn {
    top: initial;
    bottom: 96px;
    width: fit-content;
}
#predict-loading-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
#predict-results-box {
    max-width: 400px;
    height: fit-content;
}
#predict-results-box ul {
    margin: 0;
}
.card.product img {
    filter: brightness(60%);
    height: 200px;
    object-fit: cover;
}